body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ff0041;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#status {
    font-weight: bold;
    color: #333;
}
